@import "tailwindcss";

.bg-surpresa {
  background-image: url('/src/assets/surpresa.jpg');
  background-size: cover; 
  filter: brightness(0.7);
}

.bg-beats {
  background-image: url('/src/assets/beats.jpg');
  background-size: cover; 
  filter: brightness(0.8);
}

.bg-namoro {
  background-image: url('/src/assets/namoro.jpg');
  background-size: cover; 
  filter: brightness(0.8);
}

.perspective {
  perspective: 1000px;
}

.puzzle-frame {
  border: 10px solid #ccc; /* Cor e espessura da moldura */
  padding: 10px; /* Espaço entre a moldura e o quebra-cabeça */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para efeito de profundidade */
  display: inline-block; /* Ajusta o tamanho ao conteúdo */
}

.book-frame {
  width: 90%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 4 / 3;
  margin: 0 auto;
  padding: 2.5%;
  background: linear-gradient(90deg, #f5f5dc 49%, #e0e0d1 49%, #e0e0d1 51%, #f5f5dc 51%);
  border: 1.25vw solid #8b4513;
  box-shadow: 0 0 2.5vw rgba(0, 0, 0, 0.5);
  border-radius: 0.625vw;
}

